lxml
beautifulsoup4
tweepy==3.10.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
backcall==0.2.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
tzdata==2021.1
tzlocal==2.1
dateutils==0.6.12
dateparser==1.0.0
python-binance==0.7.11
python-dateutil==2.8.1
locale

